body {
    background-color: #202124;
}

p {
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 600; */
    font-size: 13px;
}


.topbar {
    display: flex;
    gap: 18px;
    justify-content: end;
    margin: 16px ;
}

.title {
    width: 278px;
    margin: auto;
    padding-top: 70px;
}

.searchbar p {
    color: #98a1b3;
    font-size: 14px;
    border: 1px solid white;
    padding: 8px;
    border-radius: 100px;

    /* background-color: red; */
}

/* .topbar Image {
    margin-left: 24px;
} */